.header_container{
    width: 100vw;

    display: flex;
    // justify-content: space-between;
    align-items: center;
    .back_motion_left{
        background-color:var(--darkblue-color);
        width: 52%;
        height: 100vh;
        z-index: 0;
        margin-right: auto;
    }
    .iit_pkd{
        // .iit_pkd:hover{
        //     scale: 1.1;
        // }
        position: absolute;
        width: 31.9vw;
        height: 79.5vh;
        left: 3.2vw;
        top:14.3vh;
        z-index:1;
        border-radius: 18px;
        background: url('../../assets/videowave.png');
        background-color: #9BD4CF;
        background-size: 60%;
        background-position-x: center;
        background-repeat: no-repeat;
        .host.Mui-contained{
            background-position: 0em;
            padding: 1em 2em 1em 2em;
            color: --darkblue-color;
        }
        .bqQeCA{
            left:2.6vw;
        }
        .bzFlRo {
            left: 5vw;
        }
    }
    .back_motion_right{
        background-color:var(--darkblue-color);
        width: 16vw;
        height: 100vh;
        z-index:0;
        margin-left: auto;
        // margin-right: 5em;
    }
    .place_card{
        position: absolute;
        width: 26vw;
        height: 38vh;
        left: 39.3vw;
        top:14.3vh;
        z-index:1;
        border-radius: 18px;
        // background: url('../../assets/mech.png');
        background-color: #519298;
        background-size:contain;
        background-size: 125%;
        background-repeat: repeat;
        .pl{
            text-align: center;
            
            position: absolute;
            width: 100%;
            vertical-align: middle;
            margin-top: 25%;
            padding: 0.25em;
            font-size: calc(3.5em + 0.390625vw);
            color: white;
            font-weight: 500;
            background-color: #519298;
        }
    }
    .intern_card{
        position: absolute;
        width: 26vw;
        height: 38vh;
        left: 70.3vw;
        top:14.3vh;
        z-index:1;
        border-radius: 18px;
        background: url('../../assets/intern.png');
        background-color: #9BD4CF;

        background-size: 75%;
        background-repeat: no-repeat;
        .pl{
            text-align: center;
            position: absolute;
            width: 100%;
            vertical-align: middle;
            top: 62%;
            left: 20%;
            padding: 0.25em;
            font-size: calc(3.5em + 0.390625vw);
            color: var(--head-blue);
            font-weight: 500;
            // background-color: #519298;
        }
    }
    .project_card{
        position: absolute;
        background-color: #519298;
        width: 57.1vw;
        height: 38vh;
        left: 39.3vw;
        top:56.3vh;
        z-index:1;
        border-radius: 18px;
        background: url('../../assets/project.png');
        background-color: #519298;

        background-size: 60%;
        background-position: -0.5em;
        background-repeat: no-repeat;
        // bottom: ;
        background-position-y: -4.9em;
        .pl{
            text-align: center;
            position: absolute;
            width: 100%;
            vertical-align: middle;
            top: 30%;
            left: 20%;
            padding: 0.25em;
            font-size: calc(3em + 0.390625vw);
            color:white;
            font-weight: 500;
            // background-color: #519298;
        }
    }
}
